<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="abc">


	<select id="selectcomment" resultType="dto">select * from boardcomment where boardnum = #{num};</select>
	<insert id="insertcomment" parameterType="dto">insert into boardcomment(commentwrither,comment,day,boardnum) values( #{commentwrither}, #{comment},#{day},#{boardnum});</insert>
	<update id="updatecomment" parameterType="dto">update boardcomment set comment=#{comment} where commentnum=#{commentnum}; </update>
	<delete id="deletecomment" parameterType="dto">delete from boardcomment where commentnum=#{commentnum};</delete>
	
	<insert id="ticketinginsert" parameterType="ticketvo">insert into ticketing(id,moviename,cine,cinema,adult,teen,seat,day,time) values( #{id}, #{moviename},#{cine},#{cinema},#{adult},#{teen},#{seat},#{date},#{time});</insert>
	<select id="noseat" resultType="String">select seat from ticketing where moviename = #{moviename} and  cine = #{cine} and cinema = #{cinema} and day = #{date} and time = #{time};</select>

	<select id="checkcinema" resultType="cinemavo">select * from cinema where doo = #{doo} and si=#{si} and sponsor =#{sponsor};</select>
	<insert id="cinemainsert" parameterType="cinemavo">insert into cinema(doo,si,sponsor,cine,cineinfo) values( #{doo}, #{si},#{sponsor},#{cine},#{cineinfo});</insert>
	<select id="cinemalist" resultType="cinemavo">select * from cinema where doo = #{doo};</select>
	
</mapper>
