<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="2.5">
    <servlet>
        <servlet-name>eve19</servlet-name>
        <servlet-class>eve</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>eve19</servlet-name>
        <url-pattern>/hund</url-pattern>
    </servlet-mapping>

	<servlet>
        <servlet-name>eve20</servlet-name>
        <servlet-class>Chritsmas</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>eve20</servlet-name>
        <url-pattern>/mas</url-pattern>
    </servlet-mapping>

	<servlet>
        <servlet-name>movie</servlet-name>
        <servlet-class>Moviechoose</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>movie</servlet-name>
        <url-pattern>/movief</url-pattern>
    </servlet-mapping>
 
</web-app> 